@font-face {
  font-family: "Fira Code Medium";
  font-style: normal;
  font-display: swap;
  src: local("Fira Code Medium"), url("./FiraCode-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code Light";
  font-style: normal;
  font-display: swap;
  src: local("Fira Code Light"), url("./FiraCode-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code VF";
  font-style: normal;
  font-display: swap;
  src: local("Fira Code VF"), url("./FiraCode-VF.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code Regular";
  font-style: normal;
  font-display: swap;
  src: local("Fira Code Regular"),
    url("./FiraCode-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code SemiBold";
  font-style: normal;
  font-display: swap;
  src: local("Fira Code SemiBold"),
    url("./FiraCode-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"), url("./Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat SemiBold";
  font-style: normal;
  font-display: swap;
  src: local("Montserrat SemiBold"),
    url("./Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat Bold";
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Bold"), url("./Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat Medium";
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Medium"),
    url("./Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat Light";
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Light"),
    url("./Montserrat-Light.woff2") format("woff2");
}
