/* Hover sur une card */
@keyframes cardMovingUp {
  from {
    transform: scale(1);
    border-bottom: 1px black;
  }
  to {
    color: #8d4cd8;
  }
}
/* sur une image */
@keyframes scaling {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes mouseOnAnchorTagMenu {
  from {
  }
  to {
    color: var(--color-hover-links-menu);
  }
}

@keyframes mouseOnAnchorTagMenuFillSVG {
  from {
  }
  to {
    fill: var(--color-hover-links-menu);
  }
}

@keyframes mouseOnAnchorTag {
  from {
  }
  to {
    color: var(--color-hover-links);
  }
}

@keyframes mouseOnImage {
  from {
  }
  to {
    filter: brightness(1.1);
  }
}
/* Transition Page */
@keyframes fadeInOpacity {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
