:root {
  --color-learning: #ffa047;
  --color-main: #ffcb50;
  --color-main-menu: #ffcb50;
  --color-footer: #ffcb50;
  --color-default-banner: #0f0b1e;
  --color-background: white;
  /* FONTS COLORS */
  --color-hover-links: #b04fff;
  --color-links: #8f10f7;
  --color-bg-post-card-hover: #f6f2ff;

  --box-shadow-inputs: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --border-radius-button: 5px;
}
