html {
  font-size: 22px;
  font-family: "Inter Variable";
}

body {
  font-size: 1rem;
}

h1 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h2 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h3 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h4 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}
p {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:hover {
  animation: mouseOnAnchorTag 0.2s ease-out forwards;
}

li {
  font-size: 1rem;
}

span {
  font-weight: var(--font-weight-spans);
}

button {
  border-radius: var(--border-radius-button);
}

hr {
  margin: 0;
}

::-webkit-input-placeholder {
  font-size: 1rem;
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 1rem;

  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1rem;

  text-align: center;
}

:-ms-input-placeholder {
  font-size: 1rem;

  text-align: center;
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  html {
    /* Gives me the power to adjust generaly the size of tags (less spaguetty code) */
    font-size: 18px;
  }
  a:hover {
    animation: none;
  }
}
