html {
  font-size: 18px;
}

body {
  font-family: "Montserrat Regular";
  font-size: 1rem;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Fira Code SemiBold";
  font-weight: 500;
  font-size: 1rem;

  padding: 1rem 0;
}

h2 {
  font-family: "Fira Code Regular";
  font-weight: 500;
  font-size: 1.3rem;
  padding: 1rem 0;
}

h3 {
  font-family: "Fira Code Regular";
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 0;
}

p {
  color: black;
  margin-bottom: 1rem;
}

li {
  font-size: 1rem;
}

span {
  font-family: "Montserrat Bold";
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  body {
    font-size: 0.5rem;
  }
}
