/*---------------------------------------------------------------------------*/
/* POST WRAPPER */
#post-template-wrapper-body {
  padding: 1em 4em;
  line-height: 1.7em;
}

#post-template-wrapper-body > p > ul > li {
  background-color: var(--learning-color);
  margin: 0.2em 0 0 1.5em;
}

#post-template-wrapper-body > p > ul {
  margin-top: 1em;
}

#post-template-wrapper-body > p > em {
  font-weight: 600;
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media (max-width: 600px) {
  #post-template-wrapper-body {
    padding: 1em 0.9em;
    line-height: 1.7em;
  }
}
