/* COMMENT CONTAINER (PARENT) */
#comments-container {
  margin-top: 3em;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  text-align: center;
}

#comments-container ul li {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background-color: #faf9fd;
  font-size: 0.8rem;
  padding: 2em 3em;
}

#comments-container ul li h4 {
  font-family: "Fira code regular";
  margin-bottom: 2em;
  text-transform: capitalize;
  font-size: 0.8rem;
}

#comment-text-body {
  text-align: left;
  font-family: "Fira code regular";
  font-size: 0.7rem;
  color: #222020;
}

#comment-author {
  margin-top: 1em;
  font-size: 0.8rem;
  text-align: left;
}

#comment-created-at {
  font-size: 0.8rem;
  text-align: right;
}
