/* MODAL SENDING */
#modal-comment-sending-container {
  background: grey;
  opacity: 0.8;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: black;
  left: 0;
  top: 0;
}
#loader-icon {
  position: fixed;
  top: 50vh;
  left: 50vw;
}
/* MODAL SENDED */
#modal-comment-sended-bg {
  position: fixed;
  background-color: black;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#modal-comment-sended-container {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1000;
  top: 20%;
  left: 10%;
  padding: 6rem 3rem 6rem 3rem;
  background: white;
  /* comment-container div selector takes priority  */
  width: 70vw !important;
  height: 50vh;
}

#modal-comment-sended-container p {
  width: 100%;
}

#modal-comment-sended-container button {
  background-color: #fdf9eb;
  border-radius: 0.3em;
  width: 8em;
  height: 3em;
}

#modal-comment-sended-container button:hover {
  cursor: pointer;
  background-color: #ffeba8;
}
