.wave-bottom {
  bottom: 0;
}

.wave-top {
  top: 0;
}

#wave-container {
  position: absolute;
  width: 100%;
  z-index: 0;
}

#wave-inner {
  position: relative;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

#wave-svg {
  display: block;
  position: absolute;
  width: 100%;
}

#wave-svg-path {
  fill: #ffcb50;
  width: 100%;
  animation: waveAnimation 25s linear infinite alternate;
}
