/* ROOT */
#footer-container {
  margin-top: 2rem;
  position: relative;
  width: 100%;
}

#footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Fira Code Light";
  font-size: 0.9rem;
  padding: 7em 3em;
}

#footer-wrapper section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#footer-wrapper section > p {
  margin-bottom: 1em;
  width: 100%;
}

#footer-wrapper section:last-child {
  text-align: right;
  width: 100%;
}

#footer-section-fonts-repo {
  justify-content: center;
  text-align: center;
}

#footer-section-fonts-repo > a {
  margin: 0 0.5em;
  display: flex;
  align-items: baseline;
}

#footer-copyright-text {
  width: 100;
  margin-top: 2em;
  color: #835a02;
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  #footer-wrapper {
    flex-direction: column;
  }

  #footer-wrapper section {
    margin: 1em 0;
  }

  #footer-wrapper section:last-child {
    text-align: center;
  }
}
