/* ROOT */
footer {
  position: relative;
  margin-top: 2rem;
  padding: 7em 2.2em 1em 2.2em;
  background-color: var(--color-footer);
}
/*---------------------------------------------------------------------------*/
/* COPYRIGHT TEXT*/
footer > #footer-copyright-text {
  margin-top: 3em;
  text-align: right;
  font-family: "Fira Code Variable";
  font-weight: 200;
  color: #835a02;
}
/*---------------------------------------------------------------------------*/
/* SECTIONS */
footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

footer > div > section {
  display: flex;
  flex-direction: column;
  font-family: "Fira Code Variable";
}

footer > div > section > a {
  font-size: 0.8rem;
  font-weight: 300;
  color: black;
}

footer > div > section > h5 {
  font-weight: 300;
  margin-bottom: 1em;
  border-bottom: 2px #ffda6a solid;
}

footer > div > section > div {
  /* links Logo container Contact me*/
  display: flex;
  justify-content: space-around;
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  footer > div {
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
  }
}
