#form-comment-root {
  margin: 2rem auto;
  padding: 1em 1em;
  background-color: #f9f7f6;
  border-radius: 10px;
  width: 90%;
  font-size: 1rem;
  text-align: center;
}

#form-comment-root > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 200px;
  width: 80%;
}

#form-comment-root > div > input {
  /* Title + Username on same line */
  width: 40%;
}

#form-comment-root > div > textarea {
  height: 6em;
  width: 100%;
}

#form-comment-root > div > button {
  width: 30%;
  margin: 1em 0 0 auto;
}
/*---------------------------------------------------------------------------*/
/* BOT PROTECTION */
.ohnohoney {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  #form-comment-root {
    width: 100%;
    padding: 1em 0em;
    font-size: 1.5rem;
  }

  #form-comment-root > div {
    flex-direction: column;
    width: 95%;
  }

  #form-comment-root > p {
    padding: 0 0.2em;
  }

  #form-comment-root > div > input {
    width: 100%;
  }

  #form-comment-root > div > button {
    width: 100%;
  }
}
