#main-menu-header {
  padding: 0.3em 2em;
  height: 8vh;
}

#main-menu-header nav {
  display: flex;
  height: 100%;
}

#main-menu-header div {
  display: flex;
  align-items: center;
  margin: 0 1em;
  width: 100%;
}

#main-menu-svg {
  width: 6vh;
  height: 6vh;
}

/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  #main-menu-svg {
    width: 7vh;
    height: 7vh;
  }
}
