#main-menu-header {
  padding: 0.3em 2em;
  height: 8vh;
}

#main-menu-header nav {
  display: flex;
  height: 100%;
}

#main-menu-header div {
  display: flex;
  align-items: center;
  margin: 0 1em;
  width: 100%;
}

#main-menu-home-container h1 {
  font-family: "Montserrat Bold";
  color: #482f09;
  font-size: 2em;
  margin: 0 auto;
}
