#index-wrapper {
  padding: 0 5em;
  font-size: 2.5em;
}

#index-welcome-title-container {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

#index-welcome-title-text {
  font-family: "Montserrat Regular";
  font-size: 0.8em;
  /* Pour etre aligné avec l'avatar */
  padding-top: 0;
}

#index-welcome-avatar {
  margin-right: 0.8em;
  width: 1.5em;
  /* class avatar est en 100% et deforme le cercle */
  height: unset;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  #index-wrapper {
    padding: 0 1.2em;
  }

  #index-welcome-title-text {
    font-size: 1.5rem;
  }
}
