#post-template-image-banner {
  height: 100%;
}

#post-template-data-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 5em;
}

#post-template-time-to-read {
  font-style: italic;
  margin: 0 0 0 1em;
}

#post-template-wrapper-body {
  padding: 1em 4em;
  line-height: 1.7em;
}

/*  MEDIA QUERIES */
@media (max-width: 600px) {
  #post-template-wrapper-body {
    padding: 1em 4.8vw;
    line-height: 1.7em;
  }
}
