#comments-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem 0 3em 0;
  padding: 3em 1em;
  width: 100%;
  border: 1px black solid;
}

#comments-container div {
  text-align: center;
  width: 100%;
}

#comment-text {
  font-family: "Montserrat Light";
  font-size: 0.9rem;
  margin-top: 3em;
}

#comment-form-container {
  display: flex;
  flex-wrap: wrap;
}

#comment-body-text {
  width: 100%;
  min-height: 200px;
}

#comment-form-inputs-container input {
  text-align: center;
  width: 100%;
  margin: 1em 0;
  padding: 0 1em;
}

#modal-comment-container-sending {
  background: grey;
  opacity: 0.8;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: black;
  left: 0;
  top: 0;
}

#modal-comment-sended-container {
  opacity: 0.8;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: black;
  left: 0;
  top: 0;
}

#modal-comment-sended-bg {
  position: fixed;
  background-color: black;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#modal-comment-sended-container {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1000;
  top: 20%;
  left: 10%;
  padding: 6rem 3rem 6rem 3rem;
  background: white;
  opacity: 1;
  /* comment-container div selector takes priority  */
  width: 80vw !important;
  height: 60vh;
}

#modal-comment-sended-container p {
  font-family: "Cascadia Code";
  line-height: 2em;
  font-size: 1.4em;
}

#modal-comment-sended-container button {
  background-color: #fdf9eb;
  border-radius: 0.3em;
  width: 8em;
  height: 3em;
}

#modal-comment-sended-container button:hover {
  cursor: pointer;
  background-color: #ffeba8;
}

#loader-icon {
  position: fixed;
  top: 50vh;
  left: 50vw;
}
