/* ROOT */
.post-card-item-container {
  border-radius: 4px;
  border-bottom: 1px #f7f1f1 solid;
}

.post-card-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
}

.post-card-link > h2 {
  margin-left: 1em;
  /* font-family: "Fira Code Variable"; */
  text-align: center;
  font-size: 0.8rem;
  font-weight: 450;
  color: black;
}

.post-card-link > .creation-date {
  color: grey;
  font-size: 0.7rem;
}

/*---------------------------------------------------------------------------*/
/* TAG SYMBOLS */
.post-card-link > .tag-symbol-container {
  margin-left: 1em;
}

/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .post-card-link {
    flex-direction: column;
  }

  .post-card-link > * {
    margin: 0;
  }

  .post-card-link > h2 {
    font-size: 1rem;
    margin-bottom: 0.5em;
  }

  .post-card-link > .creation-date {
    margin-bottom: 0.5em;
  }
}
