/* ROOT */
#posts-list-container {
  margin: 0 auto;
  width: 40vw;
}

#posts-list-container > h3 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

#posts-list-container > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  #posts-list-container {
    width: 100%;
  }
}
