/* ROOT */
.post-card-item-container {
  border-radius: 4px;
}

.post-card-link {
  display: flex;
  position: relative;
  padding: 0.5em 1em;
  justify-content: center;
}
/* OVERVIEW */
.post-card-overview-container h2 {
  margin-bottom: 0.5em;
  font-family: "Montserrat SemiBold";
  font-size: 1rem;
  /* TO DO: See why h2 is purple  so color:black needed*/
  color: black;
}

.post-card-overview-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.post-card-overview-container > p {
  margin-top: 0.5em;
  color: #3e3b3b;
  font-size: 0.8rem;
}

.post-card-link > .tag-symbol-container {
  /* We need the content in the middle of the card, we have to remove tag logo */
  position: absolute;
  right: 0.7rem;
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .post-card-link {
    display: flex;
  }

  .post-card-overview-container h2 {
    text-align: center;
    font-size: 0.9rem;
    border-bottom: none;
  }
}
