#posts-filter-widget-title ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

#posts-filter-widget-container ul li {
  flex-basis: 45%;
  margin-bottom: 2%;
  border-bottom: 1px solid #d7d7d7;
  background-color: #f9fcff;
}
