/* ROOT */
#posts-filter-widget-container {
  margin: 0 auto;
  width: 40vw;
}
/* ITEMS */
#posts-filter-widget-title ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

#posts-filter-widget-container ul li {
  /* Has I don't have LI tag in PostCard component, better to margin here */
  margin-bottom: 2em;
  border-bottom: 1px solid #d7d7d7;
  background-color: #f9fcff;
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  #posts-filter-widget-container {
    width: 100%;
  }
}
