/* ROOT */
.tag-symbol-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-symbol-container p {
  font-family: "Inter Variable";
  text-transform: capitalize;
  font-size: 0.5rem;
}

.tag-symbol-learning {
  width: 1.5rem;
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .tag-symbol-learning {
    width: 1.5rem;
  }
}
