.template-page-web-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 4rem;
  width: 100%;
  margin: 0;
  width: 100%;
}
/*---------------------------------------------------------------------------*/
/* Carte Interactive*/
.template-page-carte-interactive-container {
  text-align: center;
}

/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .template-page-web-container {
    padding: 1rem 1em;
  }
}
