#post-template-image-banner {
  height: 100%;
}

#post-template-data-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 5em;
}

#post-template-time-to-read {
  font-style: italic;
  margin: 0 0 0 1em;
}

#post-template-wrapper-body {
  padding: 1em 4em;
  line-height: 1.7em;
}

#post-template-wrapper-body > p > ul > li {
  margin: 0.2em 0 0 1.5em;
}

#post-template-wrapper-body > p > ul {
  margin-top: 1em;
}

.post-text-intro {
  font-family: "Inter Variable";
  /* font-style: italic; */
  font-weight: 125;
  line-height: 1.4em;
}

/*---------------------------------------------------------------------------*/
/* CUSTOM ID TAGS  */
#post-template-h3-default {
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media (max-width: 600px) {
  #post-template-wrapper-body {
    padding: 1em 0.4em;
    line-height: 1.7em;
  }
}
