#form-textarea {
  padding: 1em 1em;
  border-radius: 10px;
  box-shadow: var(--box-shadow-inputs);
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  #form-textarea {
    border-radius: 3px;
    min-height: 150px;
  }
}
