.wave-container {
  position: absolute;
  width: 100%;
  left: 0;
}

.wave-inner {
  width: 100%;
  position: relative;
}

.wave-svg {
  width: 100%;
  display: block;
  /* position: absolute; */
  width: 100%;
  bottom: -46px;
}

.wave-svg-path {
  width: 100%;
  animation: waveAnimation 25s linear infinite alternate;
}
/*---------------------------------------------------------------------------*/
/* TOP WAVE */
.wave-top {
  bottom: -23.3px;
  transform: matrix(1, 0, 0, -0.8, 0, 0);
}

.wave-container-top {
  bottom: 0;
  left: 0;
}

.wave-bottom {
}

.wave-container-bottom {
  top: 0;
}
/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  #wave-inner-top {
    display: none;
  }
}
